front/node_modules/
front/dist/
front/.env
front/.env.local
front/.env.*.local
front/.idea/
front/.vscode/
front/package-lock.json
front/babel.config.js
front/vue.config.js
front/*.log
front/.DS_Store

end/target/
end/.idea/
end/*.iml
end/.classpath
end/.project
end/.settings/
end/.factorypath

.DS_Store
*.log
*.swp
*.bak
*.tmp
*.idea
*.iml
.vscode/